<!-- Desktop -->
<mat-drawer-container *ngIf="!isMobile" autosize class="drawer">
  <!-- sidenav -->
  <mat-drawer *ngIf="isLoggedIn" #drawer class="drawer-container__sidenav" mode="side" opened>
    <ng-template [ngTemplateOutlet]="navList"></ng-template>
  </mat-drawer>
  <!-- toolbar -->
  <mat-toolbar
    [ngClass]="{ 'top-toolbar': true, 'top-toolbar--logged-in': isLoggedIn }">
    <!-- loggedIn state -->
    <ng-container *ngIf="isLoggedIn; else loggedOut">
      <button mat-icon-button>
        <mat-icon [attr.aria-label]="'menu'" (click)="onToggleDrawer()">keyboard_arrow_right</mat-icon>
      </button>
      <span class="top-toolbar__spacer"></span>
      <span *ngIf="user" class="top-toolbar__account-name"> {{ user.name }} </span>
      <ng-template [ngTemplateOutlet]="toolbar"></ng-template>
    </ng-container>
    <!-- loggedOut state -->
    <ng-template #loggedOut>
      <img [ngClass]="{ 'top-toolbar__icon': true, 'top-toolbar__icon--loggedIn': isLoggedIn }" alt="logo" src=""/>
    </ng-template>
  </mat-toolbar>
  <!-- router content -->
  <div [ngClass]="{ 'sidenav-content': true, 'sidenav-content--logged-in': isLoggedIn }">
    <ng-template [ngTemplateOutlet]="routerContent"></ng-template>
  </div>
  <!-- footer -->
  <ng-template [ngTemplateOutlet]="footer"></ng-template>
</mat-drawer-container>
<!-- Mobile -->
<div *ngIf="isMobile" class="mobile-container">
  <!-- toolbar -->
  <mat-toolbar
    [ngClass]="{ 'top-toolbar': true, 'top-toolbar--logged-in': isLoggedIn }">
    <mat-toolbar-row
      [ngClass]="{ 'top-toolbar__row': true, 'top-toolbar__row--loggedIn': isLoggedIn, 'top-toolbar__row--loggedOut': !isLoggedIn }">
      <img alt="logo" [ngClass]="{ 'top-toolbar__icon': true, 'top-toolbar__icon--loggedIn': isLoggedIn }"
      src=""/>
      <span class="top-toolbar__spacer"></span>
      <span *ngIf="user" class="top-toolbar__account-name"> {{ user.name }} </span>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="isLoggedIn" class="top-toolbar__row">
      <button mat-icon-button>
        <mat-icon [attr.aria-label]="'menu'" (click)="onToggleSidenav()">keyboard_arrow_right</mat-icon>
      </button>
      <span 
      [ngClass]="{ 'top-toolbar__spacer': true, 'top-toolbar__spacer--open': sidenavIsOpen }"></span>
      <ng-template [ngTemplateOutlet]="toolbar"></ng-template>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- sidenav -->
  <div
  [ngClass]="{ 'sidenav-container': true, 'sidenav-container--loggedIn': isLoggedIn }">
    <mat-sidenav-container class="sidenav-container__container" (backdropClick)="onToggleSidenav()">
      <mat-sidenav #sidenav [mode]="'over'" [fixedInViewport]="true" class="sidenav-container__sidenav">
        <ng-template [ngTemplateOutlet]="navList"></ng-template>
      </mat-sidenav>
      <!-- router content -->
      <mat-sidenav-content class="sidenav-content">
        <ng-template [ngTemplateOutlet]="routerContent"></ng-template>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <!-- footer -->
  <ng-template [ngTemplateOutlet]="footer"></ng-template>
</div>
<!-- Templates -->
<ng-template #footer>
  <footer class="footer">
    <span class="footer__text"> {{ copyrightText }} </span>
    <img alt="logo" class="footer__icon" src=""/>
  </footer>
</ng-template>
<ng-template #navList>
  <img alt="logo" class="sidenav__item__icon" src=""/>
  <mat-nav-list>
    <a *ngFor="let link of sidebarLinks" mat-list-item class="sidenav__item">
      <!--[routerLink]="[link.url]" [routerLinkActive]="['sidenav__item--active']"-->
      <mat-icon [attr.aria-label]="link.icon">{{ link.icon }}</mat-icon>
      <span class="sidenav__label"> {{ link.label }} </span>
    </a>
  </mat-nav-list>
</ng-template>
<ng-template #toolbar>
  <ng-container *ngFor="let icon of headerIcons">
    <ng-container [ngSwitch]="icon.name">
      <ng-container *ngSwitchCase="'logout'">
        <button mat-icon-button class="top-toolbar__button" (click)="onLogout()">
          <mat-icon [attr.aria-label]="icon.name">{{ icon.name }}</mat-icon>
        </button>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <button mat-icon-button class="top-toolbar__button" [routerLink]="[icon.url]">
          <mat-icon [attr.aria-label]="icon.name">{{ icon.name }}</mat-icon>
        </button>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>
<ng-template #routerContent>
  <ng-content class="sidenav-content__router-content"></ng-content>
</ng-template>